:root {
  --color-background: linear-gradient(180deg, #5c2882 0%, #541582 16%, #4b0082 84%, #23003d 100%);
  --color-heading: orange;
  --color-text: cornsilk;
  --color-link: deepskyblue;
  --padding: 20px;
  --border-radius: var(--padding);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background: var(--color-background);
  color: pink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2%;
}

a {
  color: var(--color-link);

  &:hover {
    color: plum;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-name {
  color: var(--color-heading);
  font-weight: bold;
  margin: .4em 0;
  text-shadow:
    0.08em 0.08em 0.1em #2e002e,
    -0.04em -0.04em 0.1em #9348c8;
}

h1 {
  font-size: 38px;
}

h1, .site-name {
  margin: 40px 0;
  text-align: center;
  text-shadow:
    0.04em 0.04em 0.02em #2e002e,
    -0.04em -0.04em 0.04em #9348c8;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
}

img {
  height: auto;
  max-width: 100%;
}

.site-name {
  a {
    font-size: 48px;
    text-decoration: none;
    color: var(--color-heading);

    &:hover {
      text-decoration: underline;
    }
  }
}
