:root {
  --color-background: linear-gradient(180deg, #5c2882 0%, #541582 16%, #4b0082 84%, #23003d 100%);
  --color-heading: orange;
  --color-text: cornsilk;
  --color-link: yellow;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  height: 100%;
  margin: 0 auto;
  max-width: 840px;
  padding: 0 2%;
}

a {
  color: var(--color-link);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  margin: .4em 0;
  text-shadow:
    0.08em 0.08em 0.1em #2e002e,
    -0.04em -0.04em 0.1em #9348c8;
}

h1 {
  font-size: 48px;
  margin: 40px 0;
  text-align: center;
  text-shadow:
    0.04em 0.04em 0.02em #2e002e,
    -0.04em -0.04em 0.04em #9348c8;
}

h2 {
  font-size: 38px;
  text-align: center;
}

h3 {
  font-size: 32px;
}

img {
  height: auto;
  max-width: 100%;
}

.card {
  background-color: #ffffff11;
  border-radius: 20px;
  box-shadow: 1px 1px 2px #11111188, -1px -1px 2px #ffffff33;
  padding-bottom: 20px;

  > * {
    margin: 20px;
  }

  h2 {
    background-color: rgba(0,0,0,0.2);
    border-bottom: 1px solid #ffffff33;
    border-radius: 20px 20px 0 0;
    margin: 0;
    padding: 10px 0 20px;
  }
}
