:root {
  --color-background: linear-gradient(180deg, #5c2882 0%, #541582 16%, #4b0082 84%, #23003d 100%);
  --color-heading: orange;
  --color-text: pink;
  --color-link: yellow;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

a {
  color: var(--color-link);

  &:visited {
    text-decoration-color: var(--color-heading);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  text-shadow: 0.08em 0.08em 0.1em #2e002e;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 40px;
}

img {
  height: auto;
  max-width: 100%;
}
